body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    text-align: center;
}

ul li {
    background-color: rgb(158, 240, 158);
    margin: 8px;
    display: inline-block;
    padding: 8px;
}

#mainHeading {
    text-align: center;
}